In [1]:
import pandas as pd
iris_data = pd.read_csv('iris.csv')

In [2]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
iris_data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
iris_data.SepalLengthCm.min()

4.3

In [7]:
iris_data.loc[iris_data.SepalLengthCm==iris_data.SepalLengthCm.min()]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
13  14            4.3           3.0            1.1           0.1  Iris-setosa

In [8]:
iris_data.SepalLengthCm.max()

7.9

In [9]:
iris_data.loc[iris_data.SepalLengthCm==iris_data.SepalLengthCm.max()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
131,132,7.9,3.8,6.4,2.0,Iris-virginica

# Normalization

<p style="color:black;font-size:16px">
• Normalization is a scaling technique in which values are shifted and rescaled.</br>
• Values are end up <b>ranging between 0 and 1</b>.</br>
• It is also known as Min-Max scaling.</br></p>

<p style="color:orangered;font-size:20px">x' = (x - x <sub>min</sub>) / (x <sub>max</sub> - x <sub>min</sub> )</p></br>

In [10]:

iris_data.SepalLengthCm = ( iris_data.SepalLengthCm - iris_data.SepalLengthCm.min() )/ ( iris_data.SepalLengthCm.max() - iris_data.SepalLengthCm.min() )
iris_data['SepalLengthCm']

0      0.222222
1      0.166667
2      0.111111
3      0.083333
4      0.194444
         ...
145    0.666667
146    0.555556
147    0.611111
148    0.527778
149    0.444444
Name: SepalLengthCm, Length: 150, dtype: float64

In [11]:
iris_data['SepalLengthCm'].min()

0.0

In [12]:
iris_data['SepalLengthCm'].max()

1.0

In [13]:
# For SepalWidth
iris_data.SepalWidthCm = ( iris_data.SepalWidthCm - iris_data.SepalWidthCm.min() )/ ( iris_data.SepalWidthCm.max() - iris_data.SepalWidthCm.min() )

# For PetalLength
iris_data.PetalLengthCm = ( iris_data.PetalLengthCm - iris_data.PetalLengthCm.min() )/ ( iris_data.PetalLengthCm.max() - iris_data.PetalLengthCm.min() )

# For PetalWidth
iris_data.PetalWidthCm = ( iris_data.PetalWidthCm - iris_data.PetalWidthCm.min() )/ ( iris_data.PetalWidthCm.max() - iris_data.PetalWidthCm.min() )

In [14]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       0.222222      0.625000       0.067797      0.041667  Iris-setosa
1   2       0.166667      0.416667       0.067797      0.041667  Iris-setosa
2   3       0.111111      0.500000       0.050847      0.041667  Iris-setosa
3   4       0.083333      0.458333       0.084746      0.041667  Iris-setosa
4   5       0.194444      0.666667       0.067797      0.041667  Iris-setosa

# Standardization

<p style="color:black;font-size:16px">
• Standardization is another scaling technique where the values are <b>centered around the mean</b> with a unit standard deviation.</br>
• This means that the <b>mean of the attribute becomes zero(0)</b> and the resultant distribution has a <b>unit(1) standard deviation</b>.</br>
</p>

<p style="color:orangered;font-size:20px">Z = X - mean/stdandard deviation</p></br>

In [15]:
# As it is another technique different from nrmalization,
# we normalized iris_data already, we need to again call fresh dataset

iris_data = pd.read_csv('iris.csv')

In [16]:
iris_data['SepalLengthCm'].mean()

5.843333333333334

In [17]:
iris_data.SepalLengthCm = ( iris_data['SepalLengthCm'] - iris_data['SepalLengthCm'].mean() )/ iris_data['SepalLengthCm'].std()
iris_data['SepalLengthCm']

0     -0.897674
1     -1.139200
2     -1.380727
3     -1.501490
4     -1.018437
         ...
145    1.034539
146    0.551486
147    0.793012
148    0.430722
149    0.068433
Name: SepalLengthCm, Length: 150, dtype: float64

In [18]:
iris_data['SepalLengthCm'].mean()

-5.684341886080802e-16

In [19]:
iris_data['SepalLengthCm'].std()

1.0

In [20]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1      -0.897674           3.5            1.4           0.2  Iris-setosa
1   2      -1.139200           3.0            1.4           0.2  Iris-setosa
2   3      -1.380727           3.2            1.3           0.2  Iris-setosa
3   4      -1.501490           3.1            1.5           0.2  Iris-setosa
4   5      -1.018437           3.6            1.4           0.2  Iris-setosa

In [21]:
data1 = iris_data.iloc[:,2:5]
data1.head()

   SepalWidthCm  PetalLengthCm  PetalWidthCm
0           3.5            1.4           0.2
1           3.0            1.4           0.2
2           3.2            1.3           0.2
3           3.1            1.5           0.2
4           3.6            1.4           0.2

In [22]:
for cols in data1:
    print(cols)

SepalWidthCm
PetalLengthCm
PetalWidthCm

In [23]:
def standardization(sample_col):
    return ( (sample_col - sample_col.mean()) / sample_col.std() )

iris_data[["SepalWidthCm","PetalLengthCm","PetalWidthCm"]] = iris_data[["SepalWidthCm","PetalLengthCm","PetalWidthCm"]].apply(standardization)

In [24]:
display(iris_data)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,-0.897674,1.028611,-1.336794,-1.308593,Iris-setosa
1,2,-1.139200,-0.124540,-1.336794,-1.308593,Iris-setosa
2,3,-1.380727,0.336720,-1.393470,-1.308593,Iris-setosa
3,4,-1.501490,0.106090,-1.280118,-1.308593,Iris-setosa
4,5,-1.018437,1.259242,-1.336794,-1.308593,Iris-setosa
...,...,...,...,...,...,...
145,146,1.034539,-0.124540,0.816888,1.443121,Iris-virginica
146,147,0.551486,-1.277692,0.703536,0.918985,Iris-virginica
147,148,0.793012,-0.124540,0.816888,1.050019,Iris-virginica
148,149,0.430722,0.797981,0.930239,1.443121,Iris-virginica
149,150,0.068433,-0.124540,0.760212,0.787951,Iris-virginica

In [25]:
iris_data['PetalWidthCm'].mean()

-1.8947806286936006e-16

In [26]:
iris_data['PetalWidthCm'].std()

1.0000000000000002

In [27]:
iris_data['PetalLengthCm'].mean()

1.8947806286936006e-16

In [28]:
iris_data['PetalLengthCm'].std()

1.0

In [29]:
iris_data['SepalWidthCm'].mean()

-6.158037043254202e-16

In [30]:
iris_data['SepalWidthCm'].std()

0.9999999999999998